---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Inicio">
  <div id="app">
    <p>Cargando aplicación...</p>
  </div>
</MainLayout>

<script>
  console.log('🚀 ds3-astro-catalog');
</script>
